<h1 class='text-center padded-top'>Home</h1>

<p class='text-center'> This app is a place for users to track their running progress. Input each run on the runs page, and monitor when you need to get a new pair of running shoes on the shoe tracker page. </p>
